html {
    scroll-behavior: smooth;
}

header {
    background: url("/img/institut.jpg") no-repeat;
    background-position: center;
    color: white;
    height: 400px;
}

h1 {
    font-family: cursive;
}

header h1 {
    font-size: 80px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

nav {
    margin-top: 50px;
    font-size: 20px;
    color: white;
    background-color: rgb(184, 137, 172);
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: rgb(184, 137, 172);
    background-color: white;
}

textarea {
    resize: none;
}

footer div {
    font-size: 18px;
    font-weight: bold;
    color: rgb(184, 137, 172);
    background-color: white;
}

#prestations, #horaires, #equipe, #a-propos, #section-a-propos {
    color: white;
    background-color: rgb(184, 137, 172);
}

#section-prestations {
    color: rgb(184, 137, 172);
}

#section-prestations h2 {
    font-weight: bold;
}

#section-prestations img {
    width: 80%;
    height: 300px;
    border-radius: 200px;
}

#section-horaires {
    color: rgb(184, 137, 172);
}

#section-horaires hr {
    margin: auto;
    width: 100px;
    border-width: 5px;
    border-color: rgb(184, 137, 172);
}

#section-a-propos p {
    font-size: 18px;
}

#section-a-propos input[type=submit]:hover {
    color: rgb(184, 137, 172) !important;
    background-color: white !important;
}
